.Img-Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline: 4vw;
}
.img {
  max-width: 360px;
  width: 50%;
  height: auto;
  padding: 1%;
}
.Content-Container {
  z-index: 110;
}
